.header {
  background: var(--color-secondary);
  padding: 1rem;

  .navigationWrapper {
    display: grid;
    grid-template-columns: auto auto;


    img {
      display: block;
    }

    h1 {
      display: grid;
      grid-template-columns: auto auto;
    }

    a {
      color: var(--color-tertiary-dark);
      text-decoration: none;
      font-weight: bold;
    }
  }
}
